<html lang="vi">
<head>
  <title>
    Lấy lại mật khẩu - Mã OTP
  </title>
</head>
<body>
<p>
  Xin chào $1 (Tên đăng nhập: $2)
</p>
<p>
  Bạn vừa gửi đề nghị khôi phục mật khẩu tại hệ thống quản lý hồ sơ ngân sách người có công VNA.<br /><br />
  Mã xác thực OTP của bạn là: <strong style="font-size: 18px; color: #0056b3; letter-spacing: 2px;">$3</strong><br /><br />
  Mã này có hiệu lực trong vòng 5 phút. Vui lòng không chia sẻ mã này cho bất kỳ ai.<br />
  Nếu bạn không yêu cầu thay đổi này, bạn có thể bỏ qua email này.<br />
</p>
</body>
</html>
